body{
    margin: 0;
}
.container{
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(65, 65, 65);
}
.split{

    display: flex;
    justify-content: space-evenly;
     
}
.left{
    background-color: aqua;
    height: 100px;
    width: 20%;
}
.right{
    background-color: aquamarine;
    height: 100px;
    width: 80%;
}