<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
    <title>Switch Page</title>
</head>
<body>
    <div class="container">
         <section class="split">
            <div class="left">
                <ul class="navigation">
                    <li><a href="">logo</a></li>
                    <li><a href="">dashboard</a></li>
                    <li><a href=""> commands</a></li>
                    <li><a href="">support</a></li>
                    <li><a href="">settings</a></li>
                </ul>
            </div>
            <div class="right">
                right
            </div>
         </section>
    </div>
    
    <script>
       
    </script>
</body>
</html>
